<%= form_for(@todolist) do |f| %>
  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>
      <ul>
      <% @todolist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :status %><br>
      <%= f.select :status, Todolist::STATUS.map { |s| [I18n.t("status.#{s}"), s] }, :include_blank => false %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :user %><br>
      <%= f.collection_select :user_id, User.order(:username),:id,:username, :include_blank => 'Please Assign a Developer' %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit 'Create', class: "btn btn-primary" %>
  </div>
<% end %>