<%if  current_user.admin? %>
<%=  render partial: "admin_page.html.erb"%>
<%else%>

  <%= flash_messages %>

  <h2>User Todolists List </h2>
  <div class="todolist-block">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="col-md-2">Status</th>
          <th class="col-md-2"><%= current_user.username%></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td>New</td>
            <%@hash_new.each do |key, value| %>
              <%if key == current_user%>
                <td class="col-md-2">
                  <%= 
                    value.each do |list| 
                      list
                    end
                  %>
                </td>
              <%end%>
            <%end%>
          </tr>
          <tr>
            <td>In Progress</td>
            <%@hash_inProg.each do |key, value| %>
             <%if key == current_user%>
                <td class="col-md-2">
                  <%= 
                    value.each do |list| 
                      list
                    end
                  %>
                </td>
              <%end%>
            <%end%>
          </tr>
      </tbody>
    </table>
  </div>

  <br>
<%end%>